<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
</head>
<body ng-app="test">
	<div ng-controller="ctrl">
		<label>Type a message:</label>
		<input type="text" ng-model="message">
		<button type="button" ng-click="submit()">submit</button>

		<hr>

		<label>Click to get all messages in the db:</label>
		<button type="button" ng-click="get()">get messages</button>

		{{messages.length}} message(s)

		<p ng-repeat="message in messages">
			{{message.text}}
		</p>

		<hr>
		<label>Click to delete all messages in the db:</label>
		<button type="button" ng-click="delete()">delete messages</button>
	</div>
</body>
</html>